@font-face {
    font-family: Raleway;
    src: url(../fonts/RalewayRegular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/RalewaySemiBold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

.main-container {
    font: 9px Raleway;
    width: 1024px;
    margin: 0 auto;
}

.main-subcontainer {
    width: 940px;
    margin: auto;
}

.main-container * {
    margin: 0;
    padding: 0;
}

/*Left column starts here*/

.left-column {
    float: right;
    position: relative;
    width: auto;
}

.right-column {
    float: right;
    position: relative;
    width: 320px;
    padding: 0 10px 0 15px;
}

#canvas-container svg {
    width: 587px;
    height: 543px;
}

#canvas-container {
    width: 587px;
    height: 543px;
}

#bottom-menus {
    width: 295px;
    margin: 6px auto 0 auto;
    height: 40px;
    font: 14px Raleway;
    color: #C7C7C7;
}

#bottom-menus a {
    cursor: pointer;
}

/*Bottom main menu starts here*/

#bottom-menus .bottom-menu__main a {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 6px 0 6px;
    margin-left: 5px;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #C7C7C7;
}

#bottom-menus .bottom-menu__main a:first-child {
    width: 40px;
    margin-left: 0;
}

#bottom-menus .bottom-menu__main a:nth-child(2) {
    width: 108px;
}

#bottom-menus .bottom-menu__main a:nth-child(3) {
    width: 137px;
}

/*Bottom main menu ends here*/

/*Bottom ellipsis menu starts here*/

#bottom-menus .bottom-menu__ellipsis a {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 6px 0 6px;
    margin-left: 5px;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #C7C7C7;
}

#bottom-menus .bottom-menu__ellipsis a:first-child {
    width: 40px;
    margin-left: 0;
}

/*Bottom ellipsis menu ends here*/

/*Bottom color palette starts here*/

#bottom-menus #colors-palette-carousel {
    margin: 5px 0 0 0;
    width: 295px;
    /*outline: solid 1px green;*/
}

#bottom-menus #colors-palette-carousel ul {
    width: 265px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

#bottom-menus #colors-palette-carousel .colors-palette-group li {
    float: left;
    margin: 0 0 0 5px;
}

#bottom-menus #colors-palette-carousel .colors-palette-group li a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    border-radius: 12px;
    border: 1px solid;
    text-align: center;
}

#bottom-menus #colors-palette-carousel .colors-palette-group li a.selected {
    background-color: #fff !important;
}

#bottom-menus #colors-palette-carousel .colors-palette-group li a.selected {
    text-decoration: none;
}

#bottom-menus #colors-palette-carousel .colors-palette-group li a.selected:after {
    content: '∨';
}

#bottom-menus #colors-palette-carousel .carousel-left {
    position: relative;
    /*line-height: 24px;*/
    /*outline: solid 1px red;*/
}

#bottom-menus #colors-palette-carousel .carousel-right {
    position: relative;
    /*line-height: 24px;*/
    /*outline: solid 1px red;*/
}

/*Bottom color palette ends here*/

/*Products sides switch starts here*/

#product-sides-switch {
    width: 295px;
    margin: 0 auto;
    text-align: center;
}

#product-sides-switch ul li {
    display: inline-block;
    margin-left: 5px;
    list-style: none;
    cursor: pointer;
}

#product-sides-switch ul li:first-child {
    margin-left: 0;
}

#product-sides-switch ul li a {
    text-decoration: none;
    color: #C7C7C7;
}

/*Products sides switch ends here*/

/*Left column ends here*/

/*Tabs navigation starts here*/

.main-nav {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 70%;
    height: 42px;
}

.main-nav__tab {
    float: left;
    position: relative;
    list-style: none;
    width: 42px;
    height: 42px;
    margin: 0 10px 0 10px;
}

.main-nav__tab:first-child {
    margin-left: 0px;
}

.main-nav__tab:last-child {
    margin-right: 0px;
}

.main-nav__tab a {
    text-decoration: none;
    color: #D2D2D2
}

.main-nav__tab a.active {
    color: #E02E2D
}

.main-nav__tab a span:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

.main-nav__tab a span {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-image: url(../img/new/tabs.svg);
    background-size: 420px;
    text-align: center;
    font-size: 9px;
    display: inline-block;
    vertical-align: bottom;
}

.main-nav__tab a.active span {
    font-weight: bold;
}

.main-nav__tab_name_products a span {
    background-position: -0px 0;
}

.main-nav__tab_name_colors a span {
    background-position: -42px 0;
}

.main-nav__tab_name_text a span {
    background-position: -84px 0;
}

.main-nav__tab_name_graphics a span {
    background-position: -126px 0;
}

.main-nav__tab_name_numbers a span {
    background-position: -168px 0px;
}

.main-nav__tab_name_products a.active span {
    background-position: -210px 0px;
}

.main-nav__tab_name_colors a.active span {
    background-position: -252px 0px;
}

.main-nav__tab_name_text a.active span {
    background-position: -294px 0px;
}

.main-nav__tab_name_graphics a.active span {
    background-position: -336px 0px;
}

.main-nav__tab_name_numbers a.active span {
    background-position: -378px 0px;
}

/*Tabs navigation ends here*/

/*Product tab starts here*/

#products-tab {
    color: #7A7A7A;
}

#products-tab .products-controls {
    height: 30px;
    margin: 0 0 10px 0;
}

#products-tab .products-select {
    float: left;
    position: relative;
    height: 30px;
    margin-right: 3px;
}

#products-tab .products-select select {
    height: 30px;
    max-width: 177px;
    min-width: 177px;
    font: 9px Raleway;
    color: #7A7A7A;
    margin: 0;
    padding: 0 0 0 6px;
    background: #fff;
}

#products-tab .products-select select::-ms-expand {
    display: none;
}

#products-tab .products-select span {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    font-size: 9px;
    background-repeat: no-repeat;
    background-image: url(../img/new/products_controls.svg);
    background-position: 0px 0px;
    background-size: 60px;
    /*border: 1px solid red;*/
}

#products-tab .products-search {
    float: left;
    position: relative;
    height: 30px;
    width: 110px;
    /*display: inline-block;
    vertical-align: middle;*/
}

#products-tab .products-search input {
    height: 30px;
    width: 100%;
    font: 9px Raleway;
    color: #7A7A7A;
    background-color: #ffffff;
    margin: 0;
    padding: 0 0 0 6px;
}

#products-tab .products-search span {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    font-size: 9px;
    background-repeat: no-repeat;
    background-image: url(../img/new/products_controls.svg);
    background-position: -30px 0px;
    background-size: 60px;
}

#products-tab .products-list {

}

#products-tab .products-back-btn {
    float: left;
    position: relative;
    width: 95px;
    height: 95px;
    color: #FFFFFF;
    background: no-repeat url(../img/new/products_back.svg) 0 0;
    background-size: 95px;
    cursor: pointer;
}

#products-tab .products-back-btn:hover {
    background: no-repeat url(../img/new/products_back_red.svg) 0 0;
    background-size: 95px;
}

#products-tab .products-list ul {
    list-style: none;
}

#products-tab .products-list li {
    float: left;
    margin-right: 5px;
    position: relative;
    width: 95px;
    height: 115px;
    text-align: center;
    cursor: pointer;
}

#products-tab .products-list li:nth-child(3n) {
    margin-right: 0;
}

#products-tab .products-list li a {
    text-decoration: none;
}

/*TODO: center images*/
#products-tab .products-list li a img {
    /*min-height: 100%;
    max-height: 100%;*/
    height: 95px;
    width: auto;
}

#products-tab .products-list li a span {
    display: inline-block;
    height: 20px;
    width: 95px;
    line-height: 20px;
    color: #3F3F3F;
    /*background-color: #E02E2D;*/
}

#products-tab .products-list li:hover a span {
    color: #FFFFFF;
    background-color: #D51622
}

#products-tab .products-list li a.active span {
    color: #FFFFFF;
    background-color: #D51622
}

/*Products tab ends here*/

/*Graphics tab starts here*/

#graphics-tab {
    color: #7A7A7A;
}

#graphics-tab .graphics-controls {
    height: 30px;
    margin: 0 0 10px 0;
}

#graphics-tab .graphics-select {
    float: left;
    position: relative;
    height: 30px;
    margin-right: 3px;
}

#graphics-tab .graphics-select select {
    height: 30px;
    max-width: 145px;
    min-width: 145px;
    font: 9px Raleway;
    color: #7A7A7A;
    margin: 0;
    padding: 0 0 0 6px;
    background: #fff;
}

#graphics-tab .graphics-select select::-ms-expand {
    display: none;
}

#graphics-tab .graphics-select span {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    font-size: 9px;
    background-repeat: no-repeat;
    background-image: url(../img/new/products_controls.svg);
    background-position: 0px 0px;
    background-size: 60px;
}

#graphics-tab .graphics-search {
    float: left;
    position: relative;
    height: 30px;
    width: 110px;
    margin-right: 3px;
    /*display: inline-block;
    vertical-align: middle;*/
}

#graphics-tab .graphics-search input {
    height: 30px;
    width: 100%;
    font: 9px Raleway;
    color: #7A7A7A;
    background-color: #ffffff;
    margin: 0;
    padding: 0 0 0 6px;
}

#graphics-tab .graphics-search span {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    font-size: 9px;
    background-repeat: no-repeat;
    background-image: url(../img/new/products_controls.svg);
    background-position: -30px 0px;
    background-size: 60px;
}

#graphics-tab .graphics-upload {
    float: left;
    position: relative;
    height: 30px;
    width: 30px;
}

#graphics-tab .graphics-upload span {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    font-size: 9px;
    background-repeat: no-repeat;
    background-image: url(../img/new/graphics_upload.svg);
    background-position: 0px 0px;
    background-size: 30px;
}

#graphics-tab .graphics-back-btn {
    float: left;
    position: relative;
    width: 95px;
    height: 95px;
    color: #FFFFFF;
    background: no-repeat url(../img/new/products_back.svg) 0 0;
    background-size: 95px;
    cursor: pointer;
}

#graphics-tab .graphics-back-btn:hover {
    background: no-repeat url(../img/new/products_back_red.svg) 0 0;
    background-size: 95px;
}

#graphics-tab .graphics-list ul {
    list-style: none;
}

#graphics-tab .graphics-list li {
    float: left;
    position: relative;
    margin-right: 5px;
    width: 95px;
    height: 115px;
    text-align: center;
    cursor: pointer;
}

#graphics-tab .graphics-list li:nth-child(3n) {
    margin-right: 0;
}

#graphics-tab .graphics-list li a {
    text-decoration: none;
}

/*TODO: center images*/
#graphics-tab .graphics-list li a img {
    /*min-height: 100%;
    max-height: 100%;*/
    height: 95px;
    width: auto;
}

#graphics-tab .graphics-list li a span {
    display: inline-block;
    height: 20px;
    width: 95px;
    line-height: 20px;
    color: #3F3F3F;
    /*background-color: #E02E2D;*/
}

#graphics-tab .graphics-list li:hover a span {
    color: #FFFFFF;
    background-color: #D51622
}

#graphics-tab .graphics-list li a.active span {
    color: #FFFFFF;
    background-color: #D51622
}

/*Graphics color form starts here*/

#graphics-tab #graphics-color-form {
    margin-top: 18px;
}

#graphics-tab #graphics-color-form .graphics-color-form__title {
    position: relative;
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
}

#graphics-tab #graphics-color-form .graphics-color-form__title a {
    text-decoration: none;
    cursor: pointer;
}

#graphics-tab #graphics-color-form .graphics-color-form__title a span {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 0;
    right: 5px;
    background-repeat: no-repeat;
    background-image: url(../img/new/x.png);
    background-position: 0px 0px;
    background-size: 6px;
}

#graphics-tab #graphics-color-form .colors-classes {
    list-style: none;
    height: 30px;
    line-height: 30px;
    margin: 0 0 15px 0;
}

#graphics-tab #graphics-color-form .colors-classes li {
    float: left;
    height: 30px;
    padding: 0 5px 0 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

#graphics-tab #graphics-color-form .colors-palette {
    list-style: none;
}

#graphics-tab #graphics-color-form .colors-palette li {
    float: left;
    padding: 0 5px 5px 0;
}

#graphics-tab #graphics-color-form .colors-palette li a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    border-radius: 12px;
    text-align: center;
    border: 1px solid;
}

#graphics-tab #graphics-color-form .colors-palette li a.selected {
    background-color: #fff !important;
}

#graphics-tab #graphics-color-form .colors-palette li a.selected {
    text-decoration: none;
}

#graphics-tab #graphics-color-form .colors-palette li a.selected:after {
    content: '∨';
}

/*Graphics color form ends here*/

/*Graphics upload form starts here*/

#graphics-tab #graphics-upload-form .graphics-upload-form__title {
    position: relative;
    font: 16px Raleway;
    color: #D51622;
    margin: 20px 0 15px 0;
}

#graphics-tab #graphics-upload-form .graphics-upload-form__title a {
    text-decoration: none;
    cursor: pointer;
}

#graphics-tab #graphics-upload-form .graphics-upload-form__title a span {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 0;
    right: 5px;
    background-repeat: no-repeat;
    background-image: url(../img/new/x.png);
    background-position: 0px 0px;
    background-size: 6px;
}

#graphics-tab #graphics-upload-form .graphics-upload-form__info {
    font: 12px Raleway;
    color: #D51622;
    margin-bottom: 15px;
}

#graphics-tab #graphics-upload-form p {
    font: 12px Raleway;
    color: #7A7A7A;
    margin-bottom: 15px;
}

#graphics-tab #graphics-upload-form ol {
    counter-reset: uploadCounter;
    margin-bottom: 15px;
}

#graphics-tab #graphics-upload-form li:before {
    counter-increment: uploadCounter;
    content: counter(uploadCounter) ". ";
    color: #D51622;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
}

#graphics-tab #graphics-upload-form li {
    list-style: none;
    font: 12px Raleway;
    color: #7A7A7A;
}

#graphics-tab #graphics-upload-form input[type="checkbox"] {


}

#graphics-tab #graphics-upload-form .graphics-upload-form__upload {
    width: 90px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #D51622;
    border-radius: 2px;
}

#graphics-tab #graphics-upload-form .graphics-upload-form__upload a {
    text-decoration: none;
    font: 12px Raleway;
    color: #D51622;
}

/*Graphics upload form ends here*/

/*Graphics tab ends here*/

/*Colors tab starts here*/

#colors-tab {
    color: #7A7A7A;
    font: 12px Raleway;
}

#colors-tab a {
    text-decoration: none;
    color: #3F3F3F;
}

#colors-tab .colorizable-groups {
    list-style: none;
    height: 30px;
    margin: 15px 0 0 0;
    text-align: center;
}

#colors-tab .colorizable-groups li {
    float: left;
    padding: 0 0.35em 0 0;
}

/*#colors-tab .colorizable-groups li + li {
    padding: 0 5px 0 5px;
}*/

#colors-tab .colorizable-groups li + li::before {
    content: " | ";
}

#colors-tab .colors-classes {
    list-style: none;
    height: 30px;
    line-height: 30px;
    margin: 0 0 15px 0;
}

#colors-tab .colors-classes li {
    float: left;
    height: 30px;
    padding: 0 5px 0 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

#colors-tab .colors-palette {
    list-style: none;
}

#colors-tab .colors-palette li {
    float: left;
    padding: 0 5px 5px 0;
}

#colors-tab .colors-palette li a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    border-radius: 12px;
    text-align: center;
    border: 1px solid;
}

#colors-tab .colors-palette li a.selected {
    background-color: #fff !important;
}

#colors-tab .colors-palette li a.selected {
    text-decoration: none;
}

#colors-tab .colors-palette li a.selected:after {
    content: '∨';
}

/*Colors tab ends here*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

@media screen and (max-width: 1024px) {
    .main-container {
        width: 768px;
        margin: 0 auto;
    }

    .main-subcontainer {
        width: 680px;
        margin: 0 auto;
    }

    #canvas-container > div {
        width: 320px;
        height: 296px;
    }

    #canvas-container svg {
        width: 320px;
        height: 296px;
    }

    #canvas-container {
        width: 320px;
        height: 296px;
    }

}

@media screen and (max-width: 768px) {

    .main-container {
        width: 320px;
        margin: 0 auto;
    }

    .main-subcontainer {
        width: 320px;
        margin: 0 auto;
    }

    #canvas-container > div {
        width: 320px;
        height: 296px;
    }

    #canvas-container svg {
        width: 320px;
        height: 296px;
    }

    #canvas-container {
        width: 320px;
        height: 296px;
    }

    .left-column {
        width: 320px;
        margin: 0 auto;
        float: none;
    }

    .left-column.lc-products-tab {
        display: none;
    }

    .left-column.lc-colours-tab {

    }

    .right-column {
        margin: auto;
        float: none;
    }

    #colors-tab .colors-palette {
        display: none;
    }
}

.text-tab__title {

}

.text-tab-title {
    font-size: 12px;
    color: #D51622;
    line-height: 32px;
}

.text-tab__title__text {
    float: left;
    width: 200px;
}

.text-tab__title__button {
    float: right;
}

.text-tab__title__button button {
    border: 1px solid #D51622;
    width: 31px;
    height: 31px;
    font-size: 36px;
    font-weight: 100;
    line-height: 9px;
    color: #D51622;
    background: none;
}

.text-tab__text {
    padding-top: 3px;

}

.text-tab__text textarea {
    width: 100%;
    height: 65px;
    padding: 5px;
    font-size: 14px;
}

.text-tab-label {
    color: #7A7A7A;
}
